In [1]:
import pandas as pd
data= pd.read_csv("Payment/payment_history.csv")
data

,Payment,Date/Time,Customer,Total Price,Card Number,Order,Notlar
0,Failed,2023-03-05 13:02:08,Ayşe Yıldız,34.0,3.455000e+03,"Turk Pizza, Mayonez, Ketçap",İyi kızarsın lütfen
1,Failed,2023-03-05 13:04:22,Ahmet Güzel,234.0,2.341231e+11,"Turk Pizza, Mayonez, Ketçap",İyi kızarsın lütfen
2,Successful,2023-03-05 13:05:04,Saliha Şaban,25.0,3.125648e+15,"Turk Pizza, Mayonez, Ketçap",NaN
3,Successful,2023-03-05 13:10:54,Ahmet Yıldız,56.0,2.154237e+15,"Turk Pizza, Mayonez, Ketçap",İyi kızarsın lütfen
4,Failed,2023-03-05 13:14:48,34,342.0,3.125365e+15,NaN,İyi kızarsın lütfen
5,Successful,2023-03-05 13:16:54,Ali Çiçekçioğlu,32.0,3.215479e+15,NaN,NaN
6,Failed,2023-03-05 14:09:36,Ahmet,45.0,3.424254e+17,"Klasik pizza, mantar, sucuk, kola",NaN
7,Successful,2023-03-05 14:12:17,Ali Çiçekçioğlu,500.0,4.525699e+15,"Klasik pizza, sucuk, mayonez, kola",NaN
8,Successful,2023-03-05 14:33:52,Ali Çiçekçioğlu,25.0,1.236548e+15,"Klasik pizza, sucuk, mayonez, kola",NaN
9,Successful,2023-03-05 17:40:29,Ali Çiçekçioğlu,25.0,3.214570e+15,"Turk Pizza, Mayonez, Ketçap",İyi kızarsın lütfen

In [8]:
data.drop(index=(4))

,index,Payment,Date/Time,Customer,Total Price,Card Number,Order,Notlar
0,0,Failed,2023-03-05 13:02:08,Ayşe Yıldız,34.0,3.455000e+03,"Turk Pizza, Mayonez, Ketçap",İyi kızarsın lütfen
1,1,Failed,2023-03-05 13:04:22,Ahmet Güzel,234.0,2.341231e+11,"Turk Pizza, Mayonez, Ketçap",İyi kızarsın lütfen
2,2,Successful,2023-03-05 13:05:04,Saliha Şaban,25.0,3.125648e+15,"Turk Pizza, Mayonez, Ketçap",NaN
3,3,Successful,2023-03-05 13:10:54,Ahmet Yıldız,56.0,2.154237e+15,"Turk Pizza, Mayonez, Ketçap",İyi kızarsın lütfen
4,4,Failed,2023-03-05 13:14:48,34,342.0,3.125365e+15,NaN,İyi kızarsın lütfen
5,5,Successful,2023-03-05 13:16:54,Ali Çiçekçioğlu,32.0,3.215479e+15,NaN,NaN
6,6,Failed,2023-03-05 14:09:36,Ahmet,45.0,3.424254e+17,"Klasik pizza, mantar, sucuk, kola",NaN
7,7,Successful,2023-03-05 14:12:17,Ali Çiçekçioğlu,500.0,4.525699e+15,"Klasik pizza, sucuk, mayonez, kola",NaN
8,8,Successful,2023-03-05 14:33:52,Ali Çiçekçioğlu,25.0,1.236548e+15,"Klasik pizza, sucuk, mayonez, kola",NaN
9,9,Successful,2023-03-05 17:40:29,Ali Çiçekçioğlu,25.0,3.214570e+15,"Turk Pizza, Mayonez, Ketçap",İyi kızarsın lütfen